textarea:focus, input:focus{
    outline: none;
}
.transition{
  transition: all .5s;
}
nav{
  position: fixed;
  z-index: 1;
}
div.btn{
  border-radius: 1.5em;
}
.noDisplay {
  display: none;
}
.bullet {
  border-radius: 100%;
  background-color:  rgb(108, 117, 125);
  height: 1em;
  width: 1em;
}
.navbar{
  z-index: 2!important;
}
.nav-link{
  cursor: pointer;
}
.nav-item.active{
  font-weight:625;
}
.getInTouch{
  z-index: 3
}
.dropDown {
  height: .75em; 
  width:.75em; 
  border-bottom: .25em solid  rgb(108, 117, 125); 
  border-right: .25em solid  rgb(108, 117, 125); 
  transform: rotate(45deg);
  cursor: pointer;
}
.downDrop{
  max-height: 0; 
  overflow: hidden;
}
.sideBar{
  border-left: .25em solid #e6e6e6;
}
.text-grey{
  color: #666!important
}
input.border-thick, textarea.border-thick{
  border-width: .25em; 
  border-style: solid;
}
.bg-grey{
  background-color: #666
}
.introAnim{ 
  opacity: 0; 
  margin-top:-20vh;
  transition: all 1s; 
}
.introAnim > div::after, #messageBody::after{
  margin-top: 0;
  position: absolute;
  height: 5vw;
  width: 5vw;
  bottom: 40vh; 
  left:45%; 
  box-sizing: default; 
  content:'';
  display: inline-block;
  vertical-align: text-bottom;
  border: 4px solid rgb(33, 37, 41);
  border-right-color: rgb(33, 37, 41);
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate .75s linear infinite;
  animation: rotate .75s linear infinite;
}

.introAnim.text-light > div::after{
  border: 4px solid #e6e6e6;
  border-right-color:  #e6e6e6;
  border-right-color: transparent;
}

.divider{
  border-bottom: 5px solid rgb(108, 117, 125) ;
}

.parallax{
  overflow: hidden; 
  height: 100vh;
}
.display_mobile{
  display: none; 
}
.display_desktop{
  display:inherit;
}
@media (max-width: 768px) { 
  .display_mobile{
    display: inherit; 
  }
  .display_desktop{
    display:none;
  }
  .navbar-collapse{
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.05);
  }
}

@keyframes rotate {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}